.root{ //Settings for the whole color
    -fx-background-color: #f1f1f1;
}   /*Class controlling the chart itself*/
.chart{
    -fx-background-color: #f1f1f1;
}
.chart-plot-background{ /*Background color of chart*/
    -fx-background-color: #fbfbfb;
}
.chart-series-line{  /*Settings for the chart lines*/
    -fx-stroke-width: 1px;
    //-fx-effects: null;
}
/*COLOR for the chart lines*/
.default-color0.chart-series-line {-fx-stroke: #e2211d} //line0, red
.default-color1.chart-series-line {-fx-stroke: #6666ff} //line1, lightblue
.default-color2.chart-series-line {-fx-stroke: #72c66b} //line2, lightgreen
/*COLOR for the corresponding legend items*/
.default-color0.chart-line-symbol { -fx-background-color: #e2211d, white; }
.default-color1.chart-line-symbol { -fx-background-color: #6666ff, white; }
.default-color2.chart-line-symbol { -fx-background-color: #72c66b, white; }

/* Styling of dialogBoxes TODO*/

.myDialog{
    -fx-background-color: #fbfbfb;
}
myDialog .button{
    -fx-background-color: color0;
}

.button-save{
    -fx-background-color: #2196F3;
    -fx-text-fill: FF0000;
}

