.root{ /*Settings for the whole color*/
    -fx-background-color: #f1f1f1;
}   /*Class controlling the chart itself*/
.chart{
    -fx-background-color: white;
    -fx-background-radius: 0px;
}
.chart-plot-background{ /*Background color of chart*/
    -fx-background-color: white;
}
.chart-series-line{  /*Settings for the chart lines*/
    -fx-stroke-width: 1px;
    -fx-effects: null;
}
.chart-vertical-grid-lines{

}
.chart-horizontal-grid-lines{

}
.axis{
    -fx-tick-unit: 10;
}
/*COLOR for the chart lines*/
.default-color0.chart-series-line {-fx-stroke: #e2211d} /*line0, red*/
.default-color1.chart-series-line {-fx-stroke: #6666ff} /*line1, lightblue*/
.default-color2.chart-series-line {-fx-stroke: #72c66b} /*line2, lightgreen*/
/*COLOR for the corresponding legend items*/
.default-color0.chart-line-symbol { -fx-background-color: #e2211d, white; }
.default-color1.chart-line-symbol { -fx-background-color: #6666ff, white; }
.default-color2.chart-line-symbol { -fx-background-color: #72c66b, white; }

/* Styling of dialogBoxes TODO*/

.myDialog{
    -fx-background-color: #fbfbfb;
}
.myDialog .button{
    -fx-background-color: color0;
}

.jfx-popup{
    -fx-padding: 2px;
}


/*Only for testing, remove these later*/

.jfx-progressbar{
    -fx-background-color: -accent-color;
    -fx-fill: -accent-color;
}

.jfx-progress-bar>.track {
    -fx-background-color: derive(-swatch-grey, 50.0%);
    -fx-background-color: #37474f;
    -fx-background-radius: 2.0;
    -fx-padding: 0.0;
}

.jfx-progress-bar>.bar {
    -fx-background-color: #00c853;
    -fx-background-radius: 2.0;
    -fx-background-insets: 0.0;
    -fx-border-width: 0.0;
    -fx-effect: null;
}

.jfx-progress-bar:indeterminate>.bar {
    -fx-background-color: derive(-swatch-500, 50.0%);
    -fx-background-radius: 2.0;
    -fx-background-insets: 0.0;
    -fx-border-width: 0.0;
    -fx-effect: null;
}






